@{
    PageData["title"] = "Mosaix Software | Overview";
}
<style>
    
</style>
<h2>Overview</h2>
<br />
<h3>
    Dynamic Business Rule Validation Across the Web Development Stack
</h3>
<br/>
<p>
    Whether you are a seasoned web developer, or relatively new to the game, I’m sure you will agree that most software applications must continue to change over time along with the changes in the business requirements that the software is to support. In some applications these changes manifest from changes in laws or government regulations, or maybe just from an aggressive new marketing strategy that requires the application to now support new sales strategies.
</p>
<br />
<p>
    In all instances the software applications we build must support these changes in business rules by setting new validation rules that must be evaluated through all layers. With increasing expectations of instantaneous response times, we should be providing front end validation, but we can’t forget the importance of securing our APIs and of course the database.
</p>
<br />
<p>
    In this discussion we’ll begin to talk about the tools we use to support dynamic business rule validation through AngularJS, C# using Fluent Validators, and SQL server. We are also very interested to know how others have tackled this issue in their applications so that we can all learn some new techniques together.
</p>