@{
    PageData["title"] = "AngularJS SPA Template for Visual Studio";
}
<h2>Resources</h2>
<br />
<ul>
    <li>
        FluentValidation
        <a href="https://github.com/JeremySkinner/FluentValidation/" target="_blank">https://github.com/JeremySkinner/FluentValidation/</a>
    </li>
    <li>
        FluentValidation Action Filter
        <a href="https://github.com/richardlawley/WebApi-FluentValidation/tree/master/src/RichardLawley.WebApi.FluentValidation" target="_blank">https://github.com/richardlawley/WebApi-FluentValidation/tree/master/src/RichardLawley.WebApi.FluentValidation</a>
    </li>
    <li>
        WebAPI HTTP Message Lifecycle
        <a href="http://download.microsoft.com/download/9/C/3/9C31B8B7-6E13-4A69-B378-9A04C80616EF/Web%20API%20Poster.zip" target="_blank">http://download.microsoft.com/download/9/C/3/9C31B8B7-6E13-4A69-B378-9A04C80616EF/Web%20API%20Poster.zip</a>
    </li>
</ul>
<br />
<a href="~/Resources/Poster.pdf" target="_blank"><img src="~/Images/image-0001.png" /></a>
